Aseguradora/WebContent/wsdl/ImplAseguradora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.ws.portafolio.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.ws.portafolio.com" xmlns:intf="http://service.ws.portafolio.com" xmlns:tns1="http://bean.ws.portafolio.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.ws.portafolio.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.ws.portafolio.com"/>
   <element name="validaAseguradora">
    <complexType>
     <sequence>
      <element name="obj" type="tns1:BeanAseguradora"/>
     </sequence>
    </complexType>
   </element>
   <element name="validaAseguradoraResponse">
    <complexType>
     <sequence>
      <element name="validaAseguradoraReturn" type="tns1:BeanAseguradora"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.ws.portafolio.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="BeanAseguradora">
    <sequence>
     <element name="descripcion" nillable="true" type="xsd:string"/>
     <element name="estado" nillable="true" type="xsd:boolean"/>
     <element name="monto" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="plan" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="validaAseguradoraResponse">

      <wsdl:part element="impl:validaAseguradoraResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validaAseguradoraRequest">

      <wsdl:part element="impl:validaAseguradora" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImplAseguradora">

      <wsdl:operation name="validaAseguradora">

         <wsdl:input message="impl:validaAseguradoraRequest" name="validaAseguradoraRequest">

       </wsdl:input>

         <wsdl:output message="impl:validaAseguradoraResponse" name="validaAseguradoraResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImplAseguradoraSoapBinding" type="impl:ImplAseguradora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validaAseguradora">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validaAseguradoraRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validaAseguradoraResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImplAseguradoraService">

      <wsdl:port binding="impl:ImplAseguradoraSoapBinding" name="ImplAseguradora">

         <wsdlsoap:address location="http://localhost:8087/Aseguradora/services/ImplAseguradora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
